{% extends 'core/base.html' %}

{% block content %}


   

    <div class="container my-4">
        <div class="row">
            <div class="col-md-6">
                <h2>Our Story</h2>
                <p>Welcome to Apparel, your go-to destination for the latest fashion trends. At Apparel, we believe that
                    everyone deserves to express themselves through their style. Whether you're looking for casual wear,
                    formal attire, or the perfect accessories, we've got you covered.</p>
            </div>
            <div class="col-md-6">
                <h2>Our Mission</h2>
                <p>Our mission is to provide high-quality and trendy clothing at affordable prices. We strive to create a
                    seamless and enjoyable shopping experience for our customers. From the moment you visit our website to
                    the delivery of your order, we want every step to be delightful.</p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Quality Guarantee</h2>
                <p>At Apparel, we are committed to offering products that meet the highest standards of quality. We carefully
                    curate our collection to ensure that each item not only looks great but also lasts long. Your
                    satisfaction is our priority.</p>
            </div>
            <div class="col-md-6">
                <h2>Contact Us</h2>
                <p>If you have any questions, concerns, or feedback, feel free to reach out to our customer support team. We
                    value your input and are always here to assist you.</p>

                <p>Email: support@apparelstore.com<br>
                    Phone: 1-800-123-4567</p>
            </div>
        </div>
    </div>

    {% endblock %}
